@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--background-color: #fff;
	--text-color: #444;
	--shadow-color-main: rgba(0, 0, 0, 0.15);
	--selection: #ede1ff;
	--background-color-arrow: #555;
	--color-arrow: #eee;
	--section-grey: #eaeaf2;
}
::selection {
	background-color: var(--selection);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: "Montserrat", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1;
	color: var(--text-color);
	background-color: var(--background-color);
	position: relative;
	overflow-x: hidden !important;

	/* overscroll-behavior-y: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}
a:visited,
a:link {
	color: inherit;
	text-decoration: none;
	display: inline-block;
	transition: all 0.35s;
}
input,
textarea,
textarea:active {
	border: none;
	outline: none;
	font-family: inherit;
}
button {
	border: none;
	cursor: pointer;
	font-family: inherit;
	transition: all 0.35s;
}
/* everything scroll */
::-webkit-scrollbar {
	width: 0.6rem;
	height: 0.6rem;
	cursor: grab;
}
/* the scroll track */
::-webkit-scrollbar-track {
	border: none;
	background-color: transparent;
}
/* the scroll itself */
::-webkit-scrollbar-thumb {
	background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.dark-mode {
	--background-color: #111;
	--text-color: #fff;
	--shadow-color-main: rgba(255, 255, 255, 0.25);
	--selection: #736981;
	--background-color-arrow: #aaa;
	--color-arrow: #333;
    --section-grey: #222222;
}
.container {
	max-width: 112rem;
	padding: 0 2.4rem;
	margin: 0 auto;
}
.section {
	padding: 8rem 0;
	width: 100%;
}
.section--grey {
	background-color: var(--section-grey);
	width: 100%;
	padding: 6rem 0;
}
.section__heading--box {
	max-width: 90rem;
	margin: 0 auto;
	text-align: center;
}
.section__heading {
	font-size: 3.4rem;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 1.8rem;
	line-height: 1.15;
}
.section__text {
	font-size: 1.4rem;
	line-height: 1.5;
}
.subtitle,
.section__subtitle {
	font-size: 1.24rem;
	font-weight: 600;
	color: #6b18eb;
	margin-bottom: 1.8rem;
}
.section__subtitle {
	margin-bottom: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
.icon {
	font-size: 2rem;
}
.global--overlay {
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	z-index: 110;

	background-color: rgba(0, 0, 0, 0.25);
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
}

/* ================================================ */
/* ARROW BACK TO TOP */
/* ================================================ */
.arrow-to-top {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	position: fixed;
	bottom: 9rem;
	right: 5rem;
	z-index: 100;
	cursor: pointer;
	background-color: var(--background-color-arrow);
	animation: bounce-in-up 0.5s ease-out both;
}
@keyframes bounce-in-up {
	0% {
		transform: translateY(10rem);
		opacity: 0;
	}
	60% {
		transform: translateY(-2rem);
		opacity: 1;
	}
	100% {
		transform: translateY(0rem);
	}
}
.arrow-to-top .icon {
	font-size: 2.8rem;
	color: var(--color-arrow);
}
.arrow-to-top.arrow-animation {
	transition: all 0.35s;
}
.arrow-to-top.arrow-animation::before {
	display: inline-block;
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--background-color-arrow);
	animation: vibrate 5s ease-in infinite;
}
@keyframes vibrate {
	0% {
		transform: scale(1);
		opacity: 0;
	}
	25% {
		opacity: 0.2;
	}
	50% {
		opacity: 0.4;
		transform: scale(2);
	}
	75% {
		opacity: 0.2;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

/* ============================================== */
/* SPINNER */
/* ============================================== */
.spinner {
	position: relative;
	width: 33.6px;
	height: 33.6px;
	perspective: 67.2px;
}
.spinner--container {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--background-color-alpha);
	z-index: 200;
}
.spinner div {
	width: 100%;
	height: 100%;
	background: #6b18eb;
	position: absolute;
	left: 50%;
	transform-origin: left;
	animation: spinner-16s03x 2.4s infinite;
}
.spinner div:nth-child(1) {
	animation-delay: 0.18s;
}
.spinner div:nth-child(2) {
	animation-delay: 0.36s;
}
.spinner div:nth-child(3) {
	animation-delay: 0.54s;
}
.spinner div:nth-child(4) {
	animation-delay: 0.72s;
}
.spinner div:nth-child(5) {
	animation-delay: 0.8999999999999999s;
}
@keyframes spinner-16s03x {
	0% {
		transform: rotateY(0deg);
	}
	50%,
	80% {
		transform: rotateY(-180deg);
	}
	90%,
	100% {
		opacity: 0;
		transform: rotateY(-180deg);
	}
}
.form--flex {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}
.slashed-price {
	font-size: 1.6rem !important;
	opacity: .65;
	text-decoration: line-through;
}


/* ============================================= */
/* GENERAL QUERY STYLES */
/* ============================================= */
@media screen and (max-width: 600px) {
	html {
		font-size: 60.5%;
	}
	.section__heading--box {
		width: 100%;
		max-width: 100%;
	}
	.section__heading {
		font-size: 3.2rem;
	}
	.form--flex {
		grid-template-columns: 1fr;
		gap: 2rem;
	}
}

@media screen and (max-width: 450px) {
	html {
		font-size: 58.5%;
	}
	.section__heading {
		font-size: 2.6rem;
	}
	.container {
		padding: 0 2.8rem;
	}
	.arrow-to-top {
		width: 4.8rem;
		height: 4.8rem;
		/* bottom: 10rem; only when mini header is positioned down */
		bottom: 4rem;
		right: 3rem;
	}
	.spinner {
		width: 35px;
		height: 35px;
	}
	.spinner--container {
		height: 92.5vh;
	}
}
